<!DOCTYPE html>
<html lang="en">
  <%- include('./components/header.ejs') -%>

  <body>
    <a href="index.html" class="my-btn">Back</a>
    <section data-name="w-full" class="px-0 text-3xl bg-stripes bg-stripes-pg-green">
      <my-code class="bg-white">
        <h1 class="w-full">Full width</h1>
      </my-code>
    </section>

    <section
      data-name="pg-container-section"
      class="pg-container-section mx-auto px-0 text-3xl bg-stripes bg-stripes-pg-green">
      <my-code class="bg-white">
        <h1 class="pg-container-section">max-width: 2560px</h1>
      </my-code>
    </section>

    <section
      data-name="pg-container-outer"
      class="pg-container-outer mx-auto px-0 text-3xl bg-stripes bg-stripes-pg-green">
      <my-code class="bg-white">
        <h1 class="pg-container-outer">max-width: 1720px</h1>
      </my-code>
    </section>

    <section
      data-name="pg-container-inner"
      class="pg-container-inner mx-auto px-0 text-3xl bg-stripes bg-stripes-pg-green">
      <my-code class="bg-white">
        <h1 class="pg-container-inner">max-width: 1240px</h1>
      </my-code>
    </section>
  </body>
</html>
