<!DOCTYPE html>
<html lang="en" class="pg-font-proxima-nova">
  <%- include('./components/header.ejs') -%>

  <body class="px-4">
    <a href="index.html" class="pg-btn pg-btn--outline">Back</a>
    <div class="container mx-auto">
      <section data-name="Buttons with brand colors">
        <my-preview>
          <div data-preview>
            <button class="pg-btn pg-btn--red">RED</button>
            <button class="pg-btn pg-btn--yellow">YELLOW</button>
            <button class="pg-btn pg-btn--green">GREEN</button>
            <button class="pg-btn pg-btn--black">BLACK</button>
            <button class="pg-btn pg-btn--white">WHITE</button>
          </div>
        </my-preview>
        <div class="border">
          <h1>TODO：need yellow, green, hover, active color</h1>
        </div>
      </section>

      <section data-name="Button disabled">
        <my-preview>
          <div data-preview>
            <button disabled class="pg-btn pg-btn--red">DISABLED</button>
            <!-- <button data-disabled="true" class="pg-btn pg-btn--red">DISABLED</button> -->
          </div>
        </my-preview>
        <div class="border">
          <h1>TODO：need yellow, green, hover, active color</h1>
        </div>
      </section>

      <section data-name="Outline buttons">
        <my-preview>
          <div data-preview>
            <button class="pg-btn pg-btn--outline">OUTLINE</button>
            <button class="pg-btn pg-btn--outline-white">OUTLINE</button>
          </div>
        </my-preview>
        <div class="border">
          <h1>TODO：need yellow, green, hover, active color</h1>
        </div>
      </section>

      <section data-name="Buttons sizes">
        <my-preview>
          <div data-preview>
            <button class="pg-btn pg-btn--red pg-btn--sm">sm</button>
            <button class="pg-btn pg-btn--red">normal</button>
            <button class="pg-btn pg-btn--red pg-btn--lg">lg</button>
            <button class="pg-btn pg-btn--red pg-btn--xl">xl</button>
            <button class="pg-btn pg-btn--red pg-btn--2xl">2xl</button>
          </div>
        </my-preview>
      </section>

      <section data-name="Form - checkbox">
        <my-preview>
          <div data-preview>
            <input type="checkbox" class="pg-checkbox pg-checkbox--red" />
            <input type="checkbox" class="pg-checkbox pg-checkbox--black" />
            <input type="checkbox" class="pg-checkbox pg-checkbox--white" />
          </div>
        </my-preview>
        <my-preview>
          <div data-preview>
            <input type="checkbox" class="pg-checkbox pg-checkbox--red pg-checkbox-mark--black" />
            <input type="checkbox" class="pg-checkbox pg-checkbox--red pg-checkbox-mark--black" checked/>
          </div>
        </my-preview>
        <my-preview>
          <div data-preview>
            <input type="checkbox" class="pg-checkbox pg-checkbox--red" disabled />
            <input type="checkbox" class="pg-checkbox pg-checkbox--red" disabled checked />
          </div>
        </my-preview>
      </section>

      <section data-name="Form - radio">
        <my-preview>
          <div data-preview>
            <input type="radio" class="pg-radio pg-radio--red" name="radio1" />
            <input type="radio" class="pg-radio pg-radio--red" name="radio1" checked />
            <input type="radio" class="pg-radio pg-radio--black" name="radio2" />
            <input type="radio" class="pg-radio pg-radio--black" name="radio2" checked />
            <input type="radio" class="pg-radio pg-radio--white" name="radio3" />
            <input type="radio" class="pg-radio pg-radio--white" name="radio3" checked />
          </div>
        </my-preview>
        <my-preview>
          <div data-preview>
            <input type="radio" class="pg-radio" name="radio4" disabled/>
            <input type="radio" class="pg-radio" name="radio4" checked disabled />
          </div>
        </my-preview>
      </section>

      <section data-name="Form - input">
        <my-preview>
          <div data-preview class="flex flex-col !space-x-0 space-y-4">
            <input type="text" class="pg-input" placeholder="placeholder" />
            <input type="text" class="pg-input pg-input--red" value="Text" />
            <input type="text" class="pg-input pg-input--green" value="Text" />
          </div>
        </my-preview>
      </section>
    </div>
  </body>
</html>
