<!DOCTYPE html>
<html lang="en">
  <%- include('./components/header.ejs') -%>
  <body>
    <div class="container mx-auto space-x-2 py-4 child:mb-2">
      <a href="01-Typography.html" class="my-btn">01-Typography</a>
    </div>
  </body>
</html>
