<!DOCTYPE html>
<html lang="en">
  <%- include('./components/header.ejs') -%>
  <body>
    <div class="container mx-auto space-x-2 py-4 child:mb-2">
      <a href="01-Typography.html" class="my-btn">01-Typography</a>
      <a href="02-Color.html" class="my-btn">02-Color</a>
      <a href="03-GridSystem.html" class="my-btn">03-GridSystem</a>
      <a href="04-Components.html" class="my-btn">04-Components</a>
    </div>
  </body>
</html>
