%pg-base-component {
}
.pg-btn {
  @extend %pg-base-component;

  --pg-btn-height: 40px;
  --pg-btn-font-size: 14px;

  padding-right: 24px;
  padding-left: 24px;
  height: var(--pg-btn-height);
  font-size: var(--pg-btn-font-size);
  border-radius: 8px;
  letter-spacing: 1px;

  @apply inline-flex justify-center items-center;
  &.pg-btn--sm {
    --pg-btn-height: 32px;
    --pg-btn-font-size: 12px;
  }
  &.pg-btn--lg {
    --pg-btn-height: 48px;
    --pg-btn-font-size: 16px;
  }
  &.pg-btn--xl {
    --pg-btn-height: 58px;
    --pg-btn-font-size: 18px;
  }
  &.pg-btn--2xl {
    --pg-btn-height: 68px;
    --pg-btn-font-size: 24px;
  }
  &.pg-btn--red {
    @apply bg-pg-red text-white;
    &:enabled {
      @apply hover:bg-pg-red-hover active:bg-pg-red-active;
    }
  }
  &.pg-btn--black {
    @apply bg-black text-white hover:bg-pg-black-hover active:bg-pg-black-active;
  }
  &.pg-btn--yellow {
    @apply bg-pg-yellow;
  }
  &.pg-btn--green {
    @apply bg-pg-green;
  }
  &.pg-btn--white {
    background-color: white;
  }
  &.pg-btn--outline {
    color: black;
    border: 1px solid black;
  }
  &.pg-btn--outline-white {
    color: white;
    border: 1px solid white;
  }
  &:disabled,
  &[data-disabled="true"] {
    color: #878787;
    background-color: #b8b8b8;
    pointer-events: none;
    border-color: transparent;
  }
}

@keyframes check-mark {
  0% {
    background-position-y: 5px;
  }
  50% {
    background-position-y: -2px;
  }
  to {
    background-position-y: 0;
  }
}
.pg-checkbox {
  --checkmark-color: white;

  width: 20px;
  height: 20px;
  appearance: none;
  background-color: var(--active-color);
  cursor: pointer;
  &[data-checked="true"],
  &:checked {
    background-repeat: no-repeat;
    background-color: var(--active-color);
    border-color: var(--active-color);
    animation: check-mark 0.2s ease-in-out;
    background-image:
      linear-gradient(-45deg, transparent 65%, var(--active-color) 65.99%),
      linear-gradient(45deg, transparent 75%, var(--active-color) 75.99%),
      linear-gradient(-45deg, var(--active-color) 40%, transparent 40.99%),
      linear-gradient(45deg, var(--active-color) 30%, var(--checkmark-color) 30.99%, var(--checkmark-color) 40%, transparent 40.99%),
      linear-gradient(-45deg, var(--checkmark-color) 50%, var(--active-color) 50.99%);
  }
  &.pg-checkbox--red {
    --active-color: var(--pg-red);
  }
  &.pg-checkbox--black {
    --active-color: black;
  }
  &.pg-checkbox--white {
    --active-color: white;
    --checkmark-color: black;
  }
  &.pg-checkbox-mark--black {
    --checkmark-color: black;
  }
  &:disabled {
    --active-color: #ccc;
    --checkmark-color: #e4e4e4;

    pointer-events: none;
  }
}

@keyframes radio-mark {
  0% {
    box-shadow: 0 0 0 12px var(--active-color) inset;
  }
  50% {
    box-shadow: 0 0 0 4px var(--active-color) inset;
  }
  to {
    box-shadow: 0 0 0 6px var(--active-color) inset;
  }
}
.pg-radio {
  --active-color: theme('colors.pg-red.DEFAULT');
  --checkmark-color: white;

  width: 20px;
  height: 20px;
  background-color: var(--active-color);
  border-radius: 9999px;
  transition: background, box-shadow 0.2s ease-in-out;
  cursor: pointer;
  appearance: none;
  &:checked {
    background-color: var(--checkmark-color);
    animation: radio-mark 0.2s ease-in-out;
    box-shadow: 0 0 0 6px var(--active-color) inset;
  }
  &.pg-radio--red {
    --active-color: theme('colors.pg-red.DEFAULT');
  }
  &.pg-radio--black {
    --active-color: black;
  }
  &.pg-radio--white {
    --active-color: white;
    &:checked {
      --checkmark-color: black;
    }
  }
  &:disabled {
    --active-color: #ccc;
    --checkmark-color: #e4e4e4;

    pointer-events: none;
  }
}
.pg-input {
  padding: 10px 12px;
  height: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 4px;
  &:focus {
    outline: none;
  }
  &.pg-input--red {
    border-color: var(--pg-red);
  }
  &.pg-input--green {
    border-color: var(--pg-green);
  }
}
